@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --orange:#ec4e4f;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:var(--orange);
  color:#fff;
}
h2{
  font-size: 40px;
  font-family:'Times New Roman', Times, serifs;
  text-align: center ;
  padding: 5px;
  
 
  
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

/* section{
  padding:2rem 9%;
}
.coverpage{
  background-image: url(images/);
  background-size:100% 100%;
  height: 390px;
  margin-top: 74PX;
  width: 100%;
  background-position: center;

} */

.heading{
  text-align:left;
  margin-top: 113px;
/*   margin-right: 50px;
 */  padding:0rem 0;
  font-size: 39px;
  color:#ec4e4f;
}
.heading1{
  text-align:left;
  margin-right: 50px;
  padding:0rem 0;
  font-size: 39px;
  color:#ec4e4f;
}


.heading span{
  font-size: 3.5rem;
  color:var(--orange);
  border-radius: .5rem;
  padding:.2rem 1rem;
}

.heading span.space{
  background:none;
}
.map{
  margin-left: 720px;
  width: 60px;
  height: 10px;
  margin-top: 230px;

}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background:white;
  color:black;
  padding:.8rem 3rem;
  border:.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
/*   background:rgba(255, 165, 0,.2); */

background-color:#ec4e4f;
 /*  color:var(--orange); */
}

header{
  position: fixed;
  top:0; left: 0; right:0;
  background:#162e40;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding:2rem 9%;

}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#fff;
  text-transform: uppercase;
  margin-right: 150px;
}

header .logo span{
  color:var(--orange);
}

header .navbar a{
  color:#fff;
  font-size: 2rem;
  margin:0 .8rem;
  padding: 15px 10px ;
}

header .navbar a:hover{
  color:var(--orange);
}

header .icons i{
  font-size: 2.5rem;
  color:#fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover{
  color:var(--orange);
}

header .search-bar-container{
  position: absolute;
  top:100%; left: 0; right:0;
  padding:1.5rem 2rem;
  background:#162e40;
  border-top: .1rem solid rgba(255,255,255,.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
  width:100%;
  padding:1rem;
  text-transform: none;
  color:#333;
  font-size: 1.7rem;
  border-radius: .5rem;
}

header .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover{
  color:var(--orange);
}

.login-form-container{
  position: fixed;
  top:-120%; left: 0;
  z-index: 10000;
  min-height: 100vh;
  width:100%;
  background:rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container.active{
  top:0;
}

.login-form-container form{
  margin:2rem;
  padding:1.5rem 2rem;
  border-radius: .5rem;
  background:#162e40  ;
  width:50rem;
}

.login-form-container form h3{
  font-size: 3rem;
  color:white;
  text-transform: uppercase;
  text-align: center;
  padding:1rem 0;
}

.login-form-container form .box{
  width:100%;
  padding:1rem;
  font-size: 1.7rem;
  color:rgb(124, 112, 112);
  margin:.6rem 0;
  border:.1rem solid rgba(0,0,0,.3);
  text-transform: none;
}

.login-form-container form .box:focus{
  border-color: var(--orange);;
}

.login-form-container form #remember{
  margin:2rem 0;
}

.login-form-container form label{
  font-size: 1.5rem;
}

.login-form-container form .btn{
  display: block;
  width:100%;
}

.login-form-container form p{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:black;
}

.login-form-container form p a{
  color:var(--orange);
}

.login-form-container form p a:hover{
  color:black;
  text-decoration: underline;
}

.login-form-container #form-close{
  position: absolute;
  top:2rem; right:3rem;
  font-size: 5rem;
  color:#ec4e4f;
  cursor: pointer;
}

#menu-bar{
  color:#fff;
  border:.1rem solid #fff;
  border-radius: .5rem;
  font-size: 3rem;
  padding:.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content{
  text-align: center;
}

.home .content h3{
  font-size: 4.5rem;
  color:#fff;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p{
  font-size: 2.5rem;
  color:#fff;
  padding:.5rem 0;
}

.home .video-container video{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
}

.home .controls{
  padding:1rem;
  border-radius: 5rem;
  background:rgba(0,0,0,.7);
  position: relative;
  top:10rem;
}

.home .controls .vid-btn{
  height:2rem;
  width:2rem;
  display: inline-block;
  border-radius: 50%;
  background:#fff;
  cursor: pointer;
  margin:0 .5rem;
}

.home .controls .vid-btn.active{
  background:var(--orange);
}

.book .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.book .row .image{
  flex:1 1 40rem;
}

.book .row .image img{
  width:100%;
  border-radius:100pxs;
}

.book .row form{
  flex:1 1 40rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.book .row form .inputBox{
  padding:.5rem 0;
}

.book .row form .inputBox input{
  width:100%;
  padding:1rem;
  border:1rem solid rgba(0,0,0,.1);
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
}

.book .row form .inputBox h3{
  font-size: 2rem;
  padding:1rem 0;
  color:#666;
}

.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

.packages .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.packages .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
  
}

.packages .box-container .box .content{
  padding:2rem;
}

.packages .box-container .box .content h3{
  font-size:2rem;
  color:#333;
}

.packages .box-container .box .content h3 i{
  color:var(--orange);
}

.packages .box-container .box .content p{
  font-size:2.5rem;
  color:#666;
  padding:1rem 0;
}

.packages .box-container .box .content .stars i{
  font-size:1.7rem;
  color:var(--orange);
}

.packages .box-container .box .content .price{
  font-size: 2rem;
  color:#333;
  padding-top: 1rem;
}

.packages .box-container .box .content .price span{
  color:#666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.services .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.services .box-container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  padding:1rem;
  text-align: center;
}

.services .box-container .box i{
  padding:1rem;
  font-size: 5rem;
  color:var(--orange);
}

.services .box-container .box h3{
  font-size: 2.5rem;
  color:#333;
}

.services .box-container .box p{
  font-size: 1.5rem;
  color:#666;
  padding:1rem 0;
}

.services .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.gallery .box-container .box{
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border:1rem solid #fff;
  border-radius: .5rem;
  flex:1 1 30rem;
  height: 25rem;
  position: relative;
}

.gallery .box-container .box img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.gallery .box-container .box .content{
  position: absolute;
  top:-100%; left:0;
  height: 100%;
  width:100%;
  text-align: center;
  background:rgba(0,0,0,.7);
  padding:2rem;
  padding-top: 5rem;
}

.gallery .box-container .box:hover .content{
  top:0;
}

.gallery .box-container .box .content h3{
  font-size: 2.5rem;
  color:#ec4e4f;
}

.gallery .box-container .box .content p{
  font-size: 10px;
  color:#eee;
  padding:.5rem 0;
}

.review .review-slider{
  padding-bottom: 2rem;
}

.review .box{
  padding:2rem;
  text-align: center;
  margin-top: 70px;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.review .box img{
  height:13rem;
  width:13rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.review .box h3{
  color:#333;
  font-size: 2.5rem;
}

.review .box p{
  color:#666;
  font-size: 1.5rem;
  padding:1rem 0;
}

.review .box .stars i{
  color:var(--orange);
  font-size: 1.7rem;
}

.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  margin-bottom: 100px;
  align-items: center;
}

.contact .row .image{
  flex:1 1 35rem;
}

.contact .row .image img{
  width:100%;
}

.contact .row form{
  flex:1 1 50rem;
  padding:2rem;
  /* box-shadow: 0 1rem 2rem #3fd0d4 ; */
/*   border: 1px solid #333;
 */ 
  text-align: center;
 border-width: 4px;
/*  margin-right:60%; 
 */ 
  border-radius: .5rem;
}

.contact .row form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputBox input, .contact .row form textarea{
  width:100%;
  margin:1rem 0;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  border: 1px solid black;
  background:#f7f7f7;
  text-transform: none;
}

/* .contact .row form .inputBox input, .contact .row form textarea:hover{
 border-color:#ec4e4f;
 
 
}
contact .row form .inputBox:hover{
  border-color:#ec4e4f;
} */

p{
  font-size: 19px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



}
.contact .row form textarea{
  height: 19rem;
  resize: none;
  width:100%;
}


.brand-container{
  text-align: center;
}

.footer{
  background:#333;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:.7rem 0;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a:hover{
  color:var(--orange);
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  padding:2rem 1rem;
  margin-top: 1rem;
  margin-bottom: -2rem;
  font-size: 2rem;
  font-weight: normal;
  color:#fff;
  border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
  color:var(--orange);
}



.scroll-button #scroll-btn{
  float: right;
  padding: 7px 10px;
  border-radius: 4px;
  background: #ec4e4f;
  color: var(--fourth);
  font-size: 20px;
  outline: none;
  border: 1px solid transparent;
  transition: 0.3s ease;
  margin: 10px
}
.scroll-button #scroll-btn:hover{
  background: #ec4e4f;
  color: var(--fourth);
}
.scroll-button{
  padding: 0px 30px;
}



.dropbtn {
  background-color: #162e40;
  color: white;
  /* padding: 16px; */
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color: #ec4e4f;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#162e40;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {color:#ec4e4f;}

.show {display: block;}


.packages {
  background: #eee;
}

.packages .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.packages .box-container .box {
  text-align: center;
  background: #fff;
  border: 0.2rem solid #10221b;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}

.packages .box-container .box:hover {
  background:#666;
  color:#10221b;
}

.packages .box-container .box:hover .content > * {
  color:black;
}

.packages .box-container .box:hover .btn {
  border-color: #fff;
}

.packages .box-container .box:hover .btn:hover {
  background:#fff;
  color:#ec4e4f;
}

.packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: .5rem;
}

.packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
}

.packages .box-container .box .content {
  padding: 2rem;
}

.packages .box-container .box .content h3 {
  font-size: 2rem;
  color: #10221b;
}

.packages .box-container .box .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.packages .box-container .box .content .price {
  font-size: 2rem;
  color: #219150;
}














/* media queries  */

@media (max-width:1200px){

  html{
    font-size: 55%;
  }
  /* .box{
    width: 20px;
  } */

}

@media (max-width:991px){

  header{
    padding:5rem;
  }

  section{
    padding:2rem;
  }

}



@media (max-width:1300px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; right:0; left: 0;
    background:#162e40;
    border-top: .1rem solid #162e40;
    padding:1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 400%);
  }

  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding:1.5rem;
    margin:1.5rem 0;    
    background:#162e40;
  }

}
#map-icon p{
  font-weight: 900;
}
#map-icon i{
  font-size:20px;
  
}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading span{
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input{
    width:100%;
  }

}

body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
}

html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.column {
float: left;
width: 33.3%;
margin-bottom: 16px;
padding: 0 8px;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin: 8px;
}

.about-section {
padding: 50px;
text-align: center;
background-color: #474e5d;
color: white;
}

.container {
padding: 0 16px;
}

.container::after, .row::after {
content: "";
clear: both;
display: table;
}

.title {
color: grey;
}

.button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
}

.button:hover {
background-color: #555;
}

@media screen and (max-width: 650px) {
.column {
width: 100%;
display: block;
}
}
.error{
  color:red;
  margin-top:10px;
  font-size: 15px;
  margin-right: 79%;
}
/* about */
section{
  padding:2rem 9%;
}
.abc{
  background-image: url(images/green.jpeg);
  background-size:100% 100%;
  height: 425px;
margin-top: -31px;
  width: 100%;
  background-position: center;
}
.acb{
 background-image: url(images/Port_Grand_Karachi.webp); 
  background-size:100% 100%;
  height: 490px;
  margin-top: 74PX;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  background-position: center;}

.about .row{
  display: flex;
  align-items: center;
  background:var();
  flex-wrap: wrap;
}

.about .row .image{
  flex:1 1 45rem;
}

.about .row .image img{
  width: 100%;
}


.about .row .content{
  flex:1 1 45rem;
  padding:2rem;
}

.about .row .content h3{
  font-size: 3rem;
  color:rgb(0, 0, 0);
}

.about .row .content p{
  font-size: 1.6rem;
  color:rgb(0, 0, 0);
  padding:1rem 0;
  line-height: 1.8;
}
   /* Slideshow container */
   .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
a{
  color: #333333;
  font-weight: 400;
  outline: none;
  text-decoration: none;
  transition: 0.5s;
}
a:hover,
a:focus{
  outline: none;
  text-decoration: none;
}
p{
  padding: 0;
  margin: 0 0 15px 0;
  color: #454545;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6{
  padding: 0px;
  margin: 0 0 15px 0;
  color: #333333;
  font-weight: 700;
}
img{
  width: 100%;
  height: auto;
}
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.section-title{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 80px;
  margin-top: 40px;
  text-align: center;
}
.section-title h1{
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin: 0 0 5px;
  position: relative;
}
.section-title h1::before{
  content: '';
  left: 0;
  position: absolute;
  height: 3px;
  right: 4%;
  background-color:#ec4e4f;
  bottom: -5px;

}
.container .section-title h1::before{
  left: 8%;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.column{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}
.team{
  margin-bottom:30px ;
}
.team .team-img{
  position: relative;
  font-size: 0;
  text-align: center;
}
.team .team-img img{
  width: 160px;
  height: auto;
  border-radius: 100%;
  border: 20px solid #f3f4fa;
}

.team .team-content{
  padding: 80px 20px 20px 20px;
  margin-top: -80px;
  text-align: center;
  background: #f3f4fa;
  border-radius: 10px;
}
.team .team-content h2{
font-size: 25px;
font-weight: 400;
letter-spacing: 2px;
}
.team .team-content h3{
  font-size: 16px;
  font-weight: 300;
}
.team .team-content h4{
  font-size: 16px;
font-weight: 300;
letter-spacing: 1px;
font-style: italic;
margin-bottom: 0;
}
.team .team-content p{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.team .team-social{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 35px;
  top: 0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  font-size: 0;
  z-index: 1;
  opacity: 0;
}
.team:hover .team-social{
  opacity: 1;
}
.team .team-social a{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right:5px ;
  padding: 11px 0 10px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  transition: all .3s;
  margin-top: 50px;
}
.team .team-social a.social-tw{
  background: #00acee;
}
.team .team-social a.social-fb{
  background: #3b5998;
}
.team .team-social a.social-li{
  background: #0e76a8;
}
.team .team-social a.social-in{
  background: #3f729b;
}
.team .team-social a.social-yt{
  background: #c4302b;
}
.team .team-social a:last-child{
  margin-right: 0;
}
.team:hover .team-social a{
  margin-top: 0;
}
.team .team-social a:hover{
  background: #222222;
}
/* Mobile Responsive */

@media (min-width: 576px){
  .container{
      max-width: 540px;
  }
  .column{
      max-width: 50%;
  }
}
@media (min-width: 768px){
  .container{
      max-width: 720px;
  }
  .column{
      max-width: 33.333333%;
  }
}
@media (min-width: 992px){
  .container{
      max-width: 960px;
  }
  .column{
      max-width: 25%;
  }
}
@media (min-width: 1200px){
  .container{
      max-width: 1140px;
  }
 
}
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }


  /* If you like this, be sure to ❤️ it.*/ 
  .wrapper {
    height: 50px;
    margin-top: 12px;
    /* This part is important for centering the content */
    display: flex;
    align-items: center;
    justify-content: center;
    /* End center */
    /* background: white;
    background: #fff; */
  }
  
  .wrapper a {
    display: inline-block;
    text-decoration: none;
    /* padding: 7px;
 */    background-color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    color: #a74d4d;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-top: 0.5rem;
    background:white;
    color:black;
     padding:.9rem 5rem; 
    border:.2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.5rem;
    
    
    
  }
  .wrapper :hover{
    color:  #ec4e4f;
  }
  .wrapper  :hover{
    background-color: white;
  }
  
  .modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }
  
  .modal:target {
    visibility: visible;
    opacity: 1;
  }
  
  .modal__content {
    border-radius: 5px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background:white;
    padding: 1em 2em;
    font-size: 13px;
  }
  
  /* .modal__footer {
    text-align: right;
    a {
      color: #585858;
    }
    i {
      color: #d02d2c;
    }
  }  */
  .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color:black;
    text-decoration: none;
  font-size: x-large;
  }
